{{#partial "content"}}
    <h1>"The animals of the world exist for their own reasons. They were not made
        for humans any more than black people were made for white, or women created for men."</h1>
    <a href="/animal/new"><button type="submit" class="btn btn-sucess">Add animal</button></a>
    <a href="/sighting/new"><button type="submit" class="btn btn-sucess">Did you see an animal?</button></a>
{{/partial}}
{{>layout.hbs}}